[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "0.27.8"
flask = {version = "2.3.2", extras = ["async"]}

[dev-packages]

[requires]
python_version = "3.9"
